<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<!--
	This file is part of the DITA-OT postman Plug-in project.
	See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="fox.jason.passthrough.postman" version="2.1.0">
	<feature extension="dita.conductor.lib.import" file="lib/passthrough.parser-5.0.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/json-simple-1.1.1.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/passthrough.postman-3.2.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/flexmark-0.64.8.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/flexmark-ext-tables-0.64.8.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/flexmark-util-0.64.8.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/flexmark-util-ast-0.64.8.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/flexmark-util-builder-0.64.8.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/flexmark-util-collection-0.64.8.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/flexmark-util-data-0.64.8.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/flexmark-util-dependency-0.64.8.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/flexmark-util-format-0.64.8.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/flexmark-util-html-0.64.8.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/flexmark-util-misc-0.64.8.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/flexmark-util-options-0.64.8.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/flexmark-util-sequence-0.64.8.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/flexmark-util-visitor-0.64.8.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/annotations-24.0.1.jar"/>
	<feature extension="ant.import" file="process_postman.xml"/>
	<require plugin="fox.jason.extend.css"/>
	<require plugin="fox.jason.passthrough"/>

	<!-- HTML5 extension points -->
	<feature extension="dita.xsl.html5" value="xsl/xhtml.xsl" type="file"/>
	<feature extension="dita.xsl.xhtml" value="xsl/xhtml.xsl" type="file"/>

	<feature extension="extend.css.process" value="postman.css.copy"/>

	<feature extension="depend.preprocess.post" value="postman.spec.copy"/>
	<!-- Uses the passthrough extension point and file reader -->
	<feature extension="dita.parser">
		<parser format="postman" class="fox.jason.passthrough.PostmanFileReader"/>
	</feature>
	<transtype name="base-html" abstract="true" desc="HTML-based output">
		<param
			name="postman.css.theme"
			desc="Specifies the location of a custom .css color theme file for the HTTP verb colors."
			type="string"
		/>
	</transtype>
</plugin>
