<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<!--
	This file is part of the DITA-OT postman Plug-in project.
	See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="fox.jason.passthrough.postman" version="1.1.1">
	<feature extension="ant.import" file="process_postman.xml"/>
	<!--
		This plugin requires Pandoc and the passthrough reader
		The swagger CSS/FOP processing is used to display the colored bars
	-->
	<require plugin="fox.jason.passthrough"/>
	<require plugin="fox.jason.passthrough.pandoc"/>
	<require plugin="fox.jason.passthrough.swagger"/>
	
	<!-- Uses the passthrough extension point and file reader -->
	<feature extension="dita.parser">
		<parser format="postman" class="fox.jason.passthrough.parser.FileReader"/>
	</feature>
	<feature extension="passthrough.pre" value="postman.process.pre"/>
	<feature extension="passthrough.process" value="postman.process"/>
</plugin>